<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />

    <link href="{{ url_for('static', filename='css/presence-analyzer.css') }}" media="all" rel="stylesheet" type="text/css" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'pl'});
        (function($) {
            $(document).ready(function(){
                $('#user_id').on('change', function () {
                    $('.avatar').attr('src', $(this).find('option:selected').data('avatar'));
                })
            });
        })(jQuery);
    </script>
    {% block script %}{% endblock %}
    
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            
            <ul>
                {% for page in get_menu(page_url) %}
                    <li {% if page.get('selected') %}id="selected"{% endif %}>
                        <a href="{{ url_for(page.get('link')) }}">{{ page.get('title') }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            <h2>Presence start-end weekday</h2>
            <p>
                <select id="user_id">
                    <option value="">--</option>
                    {% for id, user in get_users().iteritems() %}
                        <option value="{{ id }}" data-avatar="{{ user.avatar }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
                <div>
                    <img class="avatar" src="" alt="">
                </div>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading" class="hidden">
                    <img src="{{ url_for('static', filename='img/loading.gif') }}" />
                </div>
            </p>
        </div>
    </div>
</body>